.top-section{
    background-color: #1F2937;
    color: white;
}

.logo{
    font-family: "hero", footer;
    list-style-type: none;       
    display: flex;
    align-items: baseline;
    gap: 25px;
    margin-left: 50px;
}



li.logo-element{
    font-size: 32px;
    margin-right: auto;
    margin-bottom: 50px;
}

.big-text{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
   
}

.inner-big-text{
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 400px;
    margin-bottom: 0px;

}

.inner-small-text{
    width: 500px;
    margin-top: 10px;
}



.button{
    width: 80px;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.image-temp{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.text-holder{
    height: 200px;
    width: 400px;
    background-color: gray;
    text-align: center;
    align-content: center;
    margin-left: 200px;
    margin-bottom: 50px;
}

.random-info{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.boxes{
    display: flex;
    justify-content: space-around;
  
}

.second-section .align-text .inner-box{
    padding: 100px;
    border: #3882F6;
    border-style: solid;
    border-width: medium;



}

.align-text{
    display: flex;
    flex-direction: column;
}

.quote{
    background-color: #E5E7EB;
}

.quote-main-div{
    display: flex;
}
.actual-quote{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    padding: 100px;
    width: 800px;
    padding-left: 300px;
}

.tag{
    margin-top: 250px;
}

.last-section{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.last-section-blue{
    width: 700px;
    height: 100px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;


}

.call-action{
    display: flex;
    color: white;
    flex-direction: column;
}

.h4-call-action{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.ad{
    margin-top: 0;
}

.sign-up{
    margin-left: 100px;
    padding: 5px;
    color: white;
    background-color: #3882F6;
    border-color: white;
}